<!doctype html>
<html>
    <head>
    <meta charset="utf-8">
    <title>Server Error</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <h1>500 - Server Error</h1>
    <p><%= message || "I'm sorry, but we have encountered an error." %> </p>
    <p><a href="/solutions/projects">Back to Projects</a></p>
  </body>
  </html>
  